html {
	font-size: 16px;
	box-sizing: border-box;
}

:root {
	--main-black: hsl(240deg, 20%, 4%);
	--secondary-black: hsl(26deg, 3%, 7%, 0.5);
	--primary-color: hsl(26deg, 100%, 55%);
}

body {
	background-image: linear-gradient(
		100deg,
		hsl(360deg, 1%, 75%),
		hsl(0deg, 0%, 56%)
	);
}

#header {
	display: grid;
	grid-template-columns: 1100px 300px;
	grid-template-rows: 30px;
}

#header-img {
	position: relative;
	left: 45px;
}

.nav-items {
	grid-column: 2 / 2;
}

nav-link {
	padding: 0px 10px;
}
